*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

html {
    box-sizing: border-box;
}

/* Nav bar section */

nav {
    height: 100px;
}

    #nav-img {
        height: 100px;
        width: auto;
        float: right;
        flex-wrap:inherit;
        border-radius: 50%;
        padding-left: 2%;
        padding: 10px 0;
    }

    ul {
        list-style-type: none;
        float: right;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }
      
      li {
        display:inline;
        float: left;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 50px 50px;
        text-decoration: none;
      }
      
      li a:hover {
        background-color: #111;
      }

body {
    background:black;
    color:white;
    width: 100%;

}

/*Hero Section*/

    .hero {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        position: relative;
    }

    .hero-img {
        top: 0;
        left: 0;
        width: 100%;
        background-position:center;
        background-repeat:no-repeat;
        background-size:cover;
        position:absolute;
    }

    .hero .hero-text {
        width: 100%;
        height: 100vh;
        display: flex;
        z-index: 1;
        position: relative;
        justify-content: center;
        align-items: center;
        flex-direction: column;
       }
       .hero .hero-text h1 {
        color: #FFF;
        font-size: 64px;
        margin-bottom: 20px;
       }
       .hero .hero-text p {
        color: #FFF;
        font-size: 20px;
        margin-bottom: 20px;
       }
       .hero .hero-text a {
        color: #333;
        font-size: 20px;
        background-color: #FFF;
        border: 2px solid #FFF;
        text-decoration: none;
        padding: 10px;
        border-radius: 2px;
       }

       /*About Me Section*/

       .about-me {
        width: 100%;
        height: 100%;
        padding: 150px 100px 100px;
        position:relative;
       }

       .heading {
        font-size: 100px;
        background: #333;
        text-transform: capitalize;
        text-align: center;
        color: #1a1a1a;
        background-clip:text;
        padding: 20px;
        -webkit-background-clip:text;
       }

       .container {
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 100px;
       }

       .bio-img {
        width: 100;
        height: 80%;
       }

       .content {
        position: relative;
        text-align:justify;
        padding: 40px;
       }

       /*Bar Section*/
       
       .row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
      }
      
      .column {
        flex: 25%;
        max-width: 25%;
        padding: 0 4px;
      }
      
      .column img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
      }
      
      @media screen and (max-width: 800px) {
        .column {
          flex: 50%;
          max-width: 50%;
        }
      }
      
      @media screen and (max-width: 600px) {
        .column {
          flex: 100%;
          max-width: 100%;
        }
      }

       .portfolio_img{
        object-fit:cover;
        width: 200px;
        height: 250px;
       }