.background {
    background-color: #7FBCD2;
  }
  
  .title {
    color: #FFEEAF;
  }

  .head-blue {
    section-color: #A5F1E9;
  }
   
  .section-light {
    section-color: #FFEEAF;
  }

  .container {
    background-color: #FFEEAF;
  }

  