*{
    margin: 0;
    padding: 0;
}

header * {
    display: inline;
    }

header {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 100px 0 black;
    }

    header img {
        height: 100px;
        margin-left: 40px;
        border-radius: 50%;
    }

    header li {
        margin: 50px;
        }
    
        header li a {
        color: white;
        text-decoration:solid;
        }

        a {
            box-shadow: inset 0 0 0 0 #54b3d6;
            color: #54b3d6;
            margin: 0 -.25rem;
            padding: 0 .25rem;
            transition: color 1s ease-in-out, 1s ease-in-out;
        }

        header a:hover {
            background-color:#1ab1b9;
            color: white;
            box-shadow: fill 200px 0 0 0 #54b3d6;
        }
    
        header nav {
        margin-left: auto;
        }
body {
        height: 125vh;
        background-size: cover;
        font-family: sans-serif;
        margin-top: 100px;
        padding: 100px;
    }
          
    main {
        color: white;
        display:block;
    }

    .about {
        margin-bottom: 20px;
        padding: 50px;
        height: 200px;
        font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
        background-color: #1ab1b9;
        color: #ffffff;
    }

    .float-right {
        height: 200px;
        width: 200px;
        float: right;
        margin-left: 25px;
    }

    .work-experience {
        margin-bottom: 20px;
        padding: 50px;
        height: 200px;
        font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
        background-color: #1ab1b9;
        color: #ffffff;

    }

    .Education {
        margin-bottom: 20px;
        padding: 50px;
        height: 200px;
        font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
        background-color: #1ab1b9;
        color: #ffffff;    
    }

    .contact {
        margin-bottom: 20px;
        padding: 50px;
        height: 200px;
        font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
        background-color: #1ab1b9;
        color: #ffffff;  
    }
      
footer{
    height:auto;
    width: 100vw;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    padding-top: 40px;
}

.socials li{
    list-style: none;
    display: inline;
}



